/* Orders.css */

.orders-title {
  text-align: center;
  margin-bottom: 20px;
}

.done-button, .cancel-btn , .accept-btn {
  padding: 5px 10px; /* Consistent padding */
  border-radius: 5px;
  margin: 0 5px; /* Add margin for spacing */
  width: 100px; /* Set a fixed width for consistency */
  height: 35px; /* Set a fixed height for consistency */
  font-size: 14px; /* Ensure font size is consistent */
}

/* Orders.css */

.accept-btn {
  background-color: #FFEB3B; /* Bright Yellow Color */
  color: black; /* Text color */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.yellow-button {
  background-color: yellow;
  color: black; /* Optional: change text color for contrast */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; /* Optional: add rounded corners */
}

.done-button {
  background-color: green; /* Default color for done button */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; /* Optional: add rounded corners */
}

/* Align buttons within the table cell 

/* Button hover effects */
.done-button:hover {
  opacity: 0.8; /* Slight transparency on hover */
}

.done-button:disabled {
  background-color: #ccc; /* Grey background for disabled button */
  cursor: not-allowed;
}


.item-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px; /* Add spacing between cards */
}

.item-card {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 60px;
  text-align: center;
  width: 300px; /* Set a fixed width for each card */
  position: relative;
}

.item-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Orders.css */
/* Orders.css */

/* Container for aligning the button on the left side but centered vertically */
.button-container {
  display: flex;
  justify-content: flex-start; /* Aligns the button to the left */
  margin-top: 20px;
}

.back-btn {
  background-color: #5B3D21;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left:20px;
  margin-bottom:10px;
}

.back-btn:hover {
  background-color: #4a3118;
}

/* Orders.css */
.modal-padding {
  padding: 20px; /* Adjust padding value as needed */
}

.accept-btn img {
  vertical-align: middle; /* Aligns the icon with the text */
}







